html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  background-color: #2B2B2B;
  color: white;
  font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  border : 1px solid white;
  background-color: #0077C7;
}

td {
  width: 2em;
  height: 2em;
  border : 1px solid white;
  text-align: center;
  font-weight: bold;
}

.case {

}

.incorrect {
  background-color: #FFBD0D;
  border-radius: 50%;
}

.correct {
  background-color: #E70C2A;
}

.absent {
  opacity : .5;
}

#precedent, #suivant {
  cursor: pointer;
}

#comment {
  font-size: 1.5em;
  margin-bottom: 0.67em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clavier {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1em;
}

.ligne {
  display: flex;
  flex-direction: row;
}

.touche {
  border: 1px solid white;
  border-radius: 5px;
  margin : 0.1em;
  padding: .75em;
  cursor: pointer;
  width : 1em;
  text-align: center;
  font-weight: bold;
}

.special {
  width : 1.5em;
}

.touche:hover {
  background-color: #0077C7;
}
